# Phase 3 testing results

## Overall

Everything worked pretty well, with only a few issues noted.  The development and test teams are extremely pleased with how well this worked on the first iteration.

## Issues Noted

1. Had one instance of a plot not working and was unable to repeat. The very first time a chart was requested, the chart pane opened but the plot was missing. All subsequent requests worked fine. Tried completely exiting VS Code and trying again, and in this case it worked fine.  

2. Color themes work correctly but plots that were already created before the color theme was switched sometimes end up being illegible or hard to read when the color theme switches from dark to light or from light to dark. This was mainly the font used for axis labels, perhaps a few other things.  The plot box and plot lines were all legible and responded correctly to color theme switches.


